@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    @Styles.Render("~/Content/Projetos")
</head>


<body class="Background">

    <div class="DivFilters">
        <div class="Filters">
            <input type="checkbox" id="checkbox" class="Checkbox">
            <label for="checkbox">Pinturas</label>
        </div>
        <div class="Filters">
            <input type="checkbox" id="checkbox" class="Checkbox">
            <label for="checkbox">Pinturas</label>
        </div>
        <div class="Filters">
            <input type="checkbox" id="checkbox" class="Checkbox">
            <label for="checkbox">Pinturas</label>
        </div>
    </div>

    <div class="DivMain">

        <div class="ArtProject">
            <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>


        <div class="ArtProject">
            <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>


        <div class="ArtProject">
            <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>


        <div class="ArtProject">
            <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>


        <div class="ArtProject">
            <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>


        <div class="ArtProject">
            <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>

        <div class="ArtProject">
            <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>


        <div class="ArtProject">
            <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>

        <div class="ArtProject">
            <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>


        <div class="ArtProject">
            <img src="~/Imagens/Projeto/LoggedUser.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>


    </div>

</body>
</html>