@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    @Styles.Render("~/Content/About")
</head>

<header>
    <header>
        <div class="topnav">
            <img src="/Images/Logo.png" alt="Not Found" class="LogoIMG">
            <a href="">Home</a>
            <a href="">News</a>
            <a href="">Contact</a>

            <div class="topnav-right">
                <a href="" style="padding:0;">
                    <center>
                        <img src="/Images/Anonimo.png" alt="Not Found" class="UserIMG">
                    </center>
                </a>
            </div>
        </div>
    </header>
</header>

<body class="Background">

    <div class="DivMain">

    </div>

</body>

</html>

