@{
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    @Styles.Render("~/Content/Profile")
</head>



<body class="Background">

    <div class="DivMain" style="justify-content: start; position: relative;">
        <div class="DivProfile">
            <img src="~/Imagens/Projeto/Logo.png" alt="" class="ProfileIMG">
        </div>

        <button class="EditButton">
            Edit Profile
        </button>

        <div class="ProfileInfo">

            <div class="Info">
                <span class="InfoLabel">Nome:</span>
                <span>John Doe</span>
            </div>

            <div class="Info">
                <span class="InfoLabel">Nome: </span>
                <span>John Doe</span>
            </div>

        </div>
    </div>

    <div class="DivMain">

        <div class="ArtProject">
            <img src="~/Imagens/Projeto/Background.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>

        <div class="ArtProject">
            <img src="~/Imagens/Projeto/Background.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>

        <div class="ArtProject">
            <img src="~/Imagens/Projeto/Background.png" alt="">
            <div class="Titulo">
                Ponte 25 de Abril
            </div>
            <div class="Descricao">
                A melhor ponte 25 de abril de sempre, é verdade!
            </div>
            <div class="Autor">
                Arquiteto
            </div>
        </div>
    </div>



</body>

</html>