.DivMain {
    margin-left: 0;
    max-width: 70%;
    flex-grow: 1;
    float: right;
}

.DivFilters {
    max-width: 15%;
    margin: 3%;
    margin-top: 1%;
    margin-right: 0;
    border-radius: 10px;
    float: left;
    background-color: rgb(255, 255, 255, 60%);
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

.Background {
    display: inline;
}

.Filters {
    font-size: 25px;
    margin: 8px;
}

.Checkbox {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #555;
    border-radius: 3px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

    .Checkbox:checked {
        background-color: rgb(200, 20, 20, 60%);
    }

        .Checkbox:checked::after {
            content: "\2713";
            color: white;
            transform: translate(-50%, -50%);
        }
