@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    @Styles.Render("~/Content/About")
</head>

<body class="Background">

    <div class="DivMain" style="font-size:25px">
        <p>
            Bem-vindo à página dedicada aos projetos desenvolvidos pelos talentosos alunos da Escola Profissional INETE, uma celebração vibrante e criativa em comemoração aos 50 anos do 25 de abril!
        </p>

        <p>
            Neste espaço único, você terá a oportunidade de explorar as realizações incríveis dos nossos estudantes, que, com dedicação e inovação, contribuíram para a construção de projetos inspiradores. O 25 de abril, marco histórico da democracia em Portugal, serve como pano de fundo para a expressão da criatividade, empenho e paixão destes jovens talentos.
        </p>

        <p>
            De fotografia a programação, passando por artes visuais e muito mais, cada projeto conta uma história única. Ao navegar por esta página, você descobrirá as diferentes perspetivas, abordagens e técnicas que tornam cada trabalho uma peça única de arte, carregada de significado e reflexão sobre os valores e conquistas do 25 de abril.
        </p>

        <p>
            Celebre conosco esta data tão especial explorando os diversos projetos que refletem não apenas a habilidade técnica dos nossos alunos, mas também o espírito de liberdade, expressão e democracia que o 25 de abril representa.
        </p>

        <p>
            Agradecemos aos nossos estudantes pelo seu empenho e dedicação, e esperamos que esta galeria virtual inspire e transmita a riqueza criativa da nossa comunidade escolar.
        </p>

        <p>
            Desfrute da visita e participe na celebração dos 50 anos do 25 de abril através dos olhos talentosos dos nossos alunos!
        </p>


        

        

        

        

        
    </div>

</body>

</html>

