@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    @Styles.Render("~/Content/About")
</head>

<body class="Background">

    <div class="DivMain">

    </div>

</body>

</html>

