@{
    ViewBag.Title = "Home Page";
}

<main>

    <body class="Background">

        <div class="DivMain">

            <div class="ArtProject">
                <img src="~/Imagens/Projeto/Background.png" alt="">
                <div class="Titulo">
                    Ponte 25 de Abril
                </div>
                <div class="Descricao">
                    A melhor ponte 25 de abril de sempre, é verdade!
                </div>
                <div class="Autor">
                    Arquiteto
                </div>
            </div>

            <div class="ArtProject">
                <img src="~/Imagens/Projeto/Background.png" alt="">
                <div class="Titulo">
                    Ponte 25 de Abril
                </div>
                <div class="Descricao">
                    A melhor ponte 25 de abril de sempre, é verdade!
                </div>
                <div class="Autor">
                    Arquiteto
                </div>
            </div>

            <div class="ArtProject">
                <img src="~/Imagens/Projeto/Background.png" alt="">
                <div class="Titulo">
                    Ponte 25 de Abril
                </div>
                <div class="Descricao">
                    A melhor ponte 25 de abril de sempre, é verdade!
                </div>
                <div class="Autor">
                    Arquiteto
                </div>
            </div>

            <div class="ArtProject">
                <img src="~/Imagens/Projeto/Background.png" alt="">
                <div class="Titulo">
                    Ponte 25 de Abril
                </div>
                <div class="Descricao">
                    A melhor ponte 25 de abril de sempre, é verdade!
                </div>
                <div class="Autor">
                    Arquiteto
                </div>
            </div>

        </div>

    </body>

    </html>
</main>